@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700;900&family=Montserrat:wght@100;200;300;400;600;700;800;900&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../src/assets/fonts/AvenirLTStd-Black.otf") format("otf");
  font-weight: 900;
}

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../src/assets/fonts/AvenirLTStd-Roman.otf") format("otf");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../src/assets/fonts/AvenirLTStd-Book.otf") format("otf");
  font-weight: 400;
}

@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-slide {
  margin-right: 1px;
}

.slick-slider {
  overflow: hidden !important;
}

.slick-track,
.slick-list {
  height: 500px !important;
}
